<%# Extra stylesheets (CSS) just for this page. %>
<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag "about" %>
<% end %>

<%# Extra Javascript just for this page. %>
<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "about.js" %>
<% end %>

<%# background image %>
<div id="about-background">
</div>

<%# content %>
<div id="about-content-container">
  <div id="about-content-diagonal">

    <div class="about-content-inner">
    asdf
    </div>

    <div class="about-content-inner">
    asdfasdfasdf
    </div>

    <div class="about-content-inner">
    asdfasdfad
    </div>

    <div class="about-content-inner">
    asdfasdfds
    </div>

    <div class="about-content-inner">
    asdf
    </div>

    <div class="about-content-inner">
    asdfasdfasdf
    </div>

    <div class="about-content-inner">
    asdfasdfad
    </div>

    <div class="about-content-inner">
    asdfasdfds
    </div>

    <div class="about-content-inner">
    asdf
    </div>

    <div class="about-content-inner">
    asdfasdfasdf
    </div>

    <div class="about-content-inner">
    asdfasdfad
    </div>

    <div class="about-content-inner">
    asdfasdfds
    </div>

    <div class="about-content-inner">
    asdf
    </div>

    <div class="about-content-inner">
    asdfasdfasdf
    </div>

    <div class="about-content-inner">
    asdfasdfad
    </div>

    <div class="about-content-inner">
    asdfasdfds
    </div>

  </div>
</div>
