<%# Welcome message %>
<h1 class="animated bounceInDown">Scroll Down <%= image_tag "arrow_down.svg", :class => "arrow-down" %></h1>

<%# If user hasn't scrolled yet, remind them %>
<h4 class="wow fadeIn" data-wow-duration=".5s" data-wow-delay="5s">What are you waiting for?</h4>

<%# Jonathan Chen %>
<%= render "layouts/jonathan_chen" %>

<%# Sideways Scrolling Message %>
<h2>Welcome! Keep Scrolling <%= image_tag "arrow_down.svg", :class => "arrow-right" %></h2>
