<!-- <div class = "container-fluid" id = "topspace"></div> -->

<div class = "container-fluid" id = "home">
  <div class = "container">
    <div class = "row">
        <div class = "col-sm-7">
          IMAGE
        </div>
        <div class = "col-sm-5">
          Entreprenuer<br/>
          Engineer<br/>
          Terp
        </div>
    </div>
  </div>
</div>

<div class = "container-fluid" id = "about">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-3">
        image
      </div>
      <div class = "col-sm-9">
        Description
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid" id = "space"></div>

<div class = "container-fluid" id = "fiscalnote">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-3">
        image
      </div>
      <div class = "col-sm-9">
        Description
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid" id = "space"></div>

<div class = "container-fluid" id = "maryland">
  <div class = "container">
    <div class = "row">
      <div class = "col-sm-3">
        image
      </div>
      <div class = "col-sm-9">
        Description
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid" id = "space"></div>