<%# Welcome message %>
<h1 class="animated bounceInDown">Scroll Down <%= image_tag "arrow_down.svg", :class => "arrow-down" %></h1>

<%# If user hasn't scrolled yet, remind them %>
<h4 class="wow fadeIn" data-wow-duration=".5s" data-wow-delay="3s">What are you waiting for?</h4>

<%# Jonathan Chen %>
<%= render "layouts/jonathan_chen" %>

<%# Sideways Scrolling Message %>
<a class="enter-site" href="<%= timeline_path %>">
  <h2 class="wow bounceInLeft">
    Welcome! Enter Site <%= image_tag "arrow_down.svg", :class => "arrow-right" %>
  </h2>
</a>

