@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
body {
  font-family: 'Coming Soon', cursive;
  background: #4f8cf7;
  color: #1a4da6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

h1 {
  text-align: center; }
  h1 .arrow-down {
    height: 36px;
    width: 36px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

h2 {
  text-align: center; }
  @media (max-width: 767px) {
    h2 {
      font-size: 18px; }
      h2 .arrow-right {
        height: 18px;
        width: 18px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    h2 {
      font-size: 24px; }
      h2 .arrow-right {
        height: 24px;
        width: 24px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    h2 {
      font-size: 30px; }
      h2 .arrow-right {
        height: 30px;
        width: 30px; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 30px; }
      h2 .arrow-right {
        height: 30px;
        width: 30px; } }

a.enter-site {
  color: #1a4da6; }
  a.enter-site:hover {
    color: #1a4da6; }

h4 {
  text-align: center; }

svg.jonathan-chen-svg {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto; }
  @media (max-width: 767px) {
    svg.jonathan-chen-svg {
      width: 90%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    svg.jonathan-chen-svg {
      width: 80%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    svg.jonathan-chen-svg {
      width: 105%; } }
  @media (min-width: 1200px) {
    svg.jonathan-chen-svg {
      width: 100%; } }

.jonathan_path {
  stroke-dashoffset: 1500;
  stroke-dasharray: 1500; }

.empty-space {
  width: 100%;
  height: 4000px; }
