@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  overflow-x: hidden; }

#jcrocket {
  position: fixed;
  background-repeat: no-repeat;
  z-index: -2; }
  @media (max-width: 767px) {
    #jcrocket {
      height: 120px;
      width: 440px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #jcrocket {
      height: 180px;
      width: 660px; } }
  @media (min-width: 992px) {
    #jcrocket {
      height: 240px;
      width: 880px; } }

.jcrocket-1 {
  background-image: url(/assets/portfolio/rocket1.svg); }

.jcrocket-2 {
  background-image: url(/assets/portfolio/rocket2.svg); }

.jcrocket-3 {
  background-image: url(/assets/portfolio/rocket3.svg); }

#sun {
  position: fixed;
  height: 150px;
  width: 150px;
  top: 50px;
  right: 0;
  z-index: -4;
  background-repeat: no-repeat;
  background-image: url(/assets/portfolio/sun.svg); }

.asteroid {
  position: fixed;
  background-repeat: no-repeat;
  background-image: url(/assets/portfolio/asteroid.svg); }

.background-star {
  position: fixed;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  z-index: -5; }

#particles {
  background-color: black;
  width: 100%;
  overflow: hidden; }

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center; }

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.015em; }
  @media (max-width: 767px) {
    h1 {
      font-size: 52px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 62px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 85px; } }
  h1 .github-link {
    height: 60px;
    width: 60px; }
    @media (max-width: 767px) {
      h1 .github-link {
        display: none; } }

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1; }

p {
  margin: 0 0 30px 0;
  font-size: 24px; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    p {
      font-size: 20px; } }
  @media (min-width: 992px) {
    p {
      font-size: 24px; } }

.btn {
  background: transparent;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.btn:hover {
  color: #BDBDBD;
  border-color: #BDBDBD; }

.panel-btn {
  margin: 10px auto; }

.content-panel {
  width: 100%; }
