@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Coming Soon', cursive;
  background-color: #4f8cf7; }

#snake_canvas {
  border: 0px solid blue; }
