// import other css
@import 'variables.scss';
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Signika);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Alegreya);

$about-gray-text: #D8D8D8;
$about-red: #e62748;
$about-red-text: #B51832;
$about-white-text: #F2F2F2;

html {
  overflow-x: hidden;
}

body {
  // font-family: cursive;
  // font-family: 'Signika', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Cabin', sans-serif;
  font-family: 'Alegreya', serif;
  background: $background-gray;
  color: $text-gray;
  margin: 0px;
  padding: 0px;
}

#about-background {
  margin-bottom: 100px;
  width: 100%;
}

#about-background-left {
  float: left;
  background-color: $about-red;
  display: inline-block;
  position: relative;

  h1 {
    color: $about-white-text;
    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid $about-red-text;

    // xs screen
    @media (max-width: $max-screen-xs) {
      font-size: 48px;
    }

    // sm screen
    @media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
      font-size: 44px;
    }

    // md screen
    @media (min-width: $min-screen-md) and (max-width: $max-screen-md) {
      font-size: 44px;
    }

    // lg screen
    @media (min-width: $min-screen-lg) and (max-width: 1399px) {
      font-size: 42px;
    }

    @media (min-width: 1400px) {
      font-size: 48px;
    }
  }

  #learnmore-box {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;

    h2 {
      color: $about-red-text;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 60px;
      padding-left: 10px;
      border-left: 5px solid $about-red-text;
      text-align: left;

       // xs screen
      @media (max-width: $max-screen-xs) {
        margin-top: 40px;
      }
    }

    #learnmore-btn {
      font-family: 'Alegreya', serif;
      margin: 0px 20px;
      font-size: 20px;
      color: $about-white-text;
      background-color: $about-red-text;
      border: 0px solid red;
      border-radius: 0px;
      padding: 10px 15px;
      -webkit-transition: all 0.5s;
         -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
           -o-transition: all 0.5s;
              transition: all 0.5s;

      &:hover {
        background-color: $about-white-text;
        color: $about-red-text;
        cursor: pointer;
      }
    }
  }

  #about-background-left-footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 0;
    right: 0;

    .social-link-box {
      width: 290px;
      height: 40px;
      margin-bottom: 10px;

      .social-link {
        float: left;
        margin-left: 10px;
        width: 40px;
        height: 40px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#about-background-right {
  background-image: image-url('about/background-light.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  display: inline-block;
}

#about-content-container {
  min-height: 1px;
  overflow-x: auto;
}

#about-content-diagonal {
  position: absolute;
  border-left: 2px solid $text-gray;
  padding-left: 75px;
  margin-bottom: 100px;
  margin-top: 50px;

  -webkit-transform:  skew(15deg);
  -moz-transform:     skew(15deg);
  -ms-transform:      skew(15deg);
  -o-transform:       skew(15deg);
  transform:          skew(15deg);

  // xs screen
  @media (max-width: $max-screen-xs) {
    width: 640px;
  }

  // sm screen
  @media (min-width: $min-screen-sm) {
    width: 640px;
  }
}

.about-content-inner {
  width: 100%;
  min-height: 10px;
  margin: 10px 0px;
  padding: 10px;
  color: $about-gray-text;
  text-align: left;
  overflow: auto;

  img.family-img {
    float: left;
    width: 290px;
    height: auto;
    border: 5px solid $text-gray;
    margin-right: 10px;

    &.gray {
      border: 5px solid $text-gray;
    }

    &.red {
      border: 5px solid $about-red-text;
    }
  }

  img.school-img {
    float: left;
    height: 161px;
    width: 161px;
    margin-right: 51px;
    border-radius: 100px;
    border: 5px solid $text-gray;

  }

  img.hobby-img {
    float: left;
    height: 175px;
    width: 175px;
    margin-right: 125px;

    &.grayborder{
      border: 7px solid $text-gray;
    }
  }

  img.graduation-img {
    float: right;
    width: 560px;
    border: 5px solid $about-red-text;
  }

  img.fn-logo-img {
    float: left;
    width: 80%;
    margin-left: 35px;
  }

  .img-caption {
    width: 171px;
    min-height: 30px;
    float: left;
    text-align: center;
    margin-right: 51px;
    margin-top: 15px;
  }

  .img-caption-hobby {
    width: 175px;
    min-height: 30px;
    float: left;
    text-align: center;
    margin-right: 125px;
    margin-top: 30px;
    margin-top: 20px;
    font-size: 22px;

    &.red {
      color: $about-red;
    }

  }

  h1 {
    display: inline;

    // xs screen
    @media (max-width: $max-screen-xs) {
      font-size: 48px;
    }

    // sm screen
    @media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
      font-size: 48px;
    }

    // md screen
    @media (min-width: $min-screen-md) and (max-width: $max-screen-md) {
      font-size: 48px;
    }

    // lg screen
    @media (min-width: $min-screen-lg) {
      font-size: 56px;
    }
  }

  &.border {
    border: 5px solid $text-gray;
  }

  .taiwan-text {
    position: absolute;
    top: 40px;
  }

  .taiwan-island {
    height: 500px;
    width: auto;
    margin-left: 160px;
  }

  -webkit-transform:  skew(-15deg);
  -moz-transform:     skew(-15deg);
  -ms-transform:      skew(-15deg);
  -o-transform:       skew(-15deg);
  transform:          skew(-15deg);
}

b.text-red {
  color: $about-red;
}

.bar {
  height: 5px;

  &.graybar {
    background-color: $about-gray-text;
    width: 75%;
  }

  &.redbar {
    background-color: $about-red-text;
    width: 50%;

    &.long {
      width: 75%;
      margin-top: 30px;
    }
  }

  &.float-center {
    margin-right: auto;
    margin-left: auto;
  }
}

a.fiscalnote-link {
  text-decoration: underline;
  color: $about-gray-text;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $about-gray-text;
  }
}
