// import other css
@import 'variables.scss';
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

body {
  font-family: 'Coming Soon', cursive;
  background: $background-gray;
  color: $text-gray;
  margin: 0px;
  padding: 0px;
}

#about-background {
  width: 100%; // height set in about.js
  background-image: image-url('about/background1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  border-bottom: 5px solid $text-gray;
}

#about-content-container {
  min-height: 1px;
  overflow: auto;
}

#about-content-diagonal {
  position: absolute;
  width: $max-screen-xs;
  border-left: 2px solid $text-gray;
  padding-left: 100px;
  margin-bottom: 100px;

  -webkit-transform:  skew(15deg);
  -moz-transform:     skew(15deg);
  -ms-transform:      skew(15deg);
  -o-transform:       skew(15deg);
  transform:          skew(15deg);
}

.about-content-inner {
  width: 100%;
  height: 100px;
  border: 5px solid $text-gray;
  margin: 10px 0px;
  padding: 10px;
  color: white;

  -webkit-transform:  skew(-15deg);
  -moz-transform:     skew(-15deg);
  -ms-transform:      skew(-15deg);
  -o-transform:       skew(-15deg);
  transform:          skew(-15deg);
}
