// import other css
@import 'variables.scss';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  overflow-x: hidden;
}

// rocket stuff
#jcrocket {
  position: fixed;
  background-repeat: no-repeat;
  z-index: -2;

  // xs screen
  @media (max-width: $max-screen-xs) {
    height: 120px;
    width: 440px;
  }

  // sm screen
  @media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
    height: 180px;
    width: 660px;
  }

  // md screen and large screen
  @media (min-width: $min-screen-md) {
    height: 240px;
    width: 880px;
  }
}

.jcrocket-1 {
  background-image: image-url("portfolio/rocket1.svg");
}

.jcrocket-2 {
  background-image: image-url("portfolio/rocket2.svg");
}

.jcrocket-3 {
  background-image: image-url("portfolio/rocket3.svg");
}

#sun {
  position: fixed;
  height: 150px;
  width: 150px;
  top: 50px;
  right: 0;
  z-index: -4;
  background-repeat: no-repeat;
  background-image: image-url("portfolio/sun.svg");
}

.background-star {
  position: fixed;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  z-index: -5;
}

#particles {
  // background: #16a085;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

.intro {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.015em;

  // xs screen
  @media (max-width: $max-screen-xs) {
    font-size: 52px;
  }

  // sm screen
  @media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
    font-size: 62px;
  }

  // md screen and large screen
  @media (min-width: $min-screen-md) {
    font-size: 85px;
  }

  .github-link {
    height: 60px;
    width: 60px;

    // xs screen
    @media (max-width: $max-screen-xs) {
      display: none;
    }
  }
}

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}

p {
  margin: 0 0 30px 0;
  font-size: 24px;

  // xs screen
  @media (max-width: $max-screen-xs) {
    font-size: 16px;
  }

  // sm screen
  @media (min-width: $min-screen-sm) and (max-width: $max-screen-sm) {
    font-size: 20px;
  }

  // md screen and large screen
  @media (min-width: $min-screen-md) {
    font-size: 24px;
  }
}

.btn {
  background: transparent;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

// orginal color: #005544
.btn:hover {
  color: #BDBDBD;
  border-color: #BDBDBD;
}
