// import other css
@import 'variables.scss';

$about-gray-text: #D8D8D8;
$about-red: #e62748;
$about-red-text: #B51832;
$about-white-text: #F2F2F2;

.side-navigation {
  position: fixed;
  width: 200px;
  z-index: 1;
  color: $about-white-text;

  &.left {
    left: -150px;
  }

  &.right {
    right: -150px;
  }

  .action-box {
    position: absolute;
    left: 0;
    background-color: $about-red-text;
    padding: 10px;
    height: 30px;
    width: 30px;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.7);
    z-index: 2;

    .action-icon {
      height: 30px;
      width: 30px;
      color: $about-white-text;

      -webkit-transition: -webkit-transform .25s ease-in-out;
      -moz-transition: -webkit-transform .25s ease-in-out;
      -ms-transition: -webkit-transform .25s ease-in-out;
      -o-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;

      &:hover {
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        -moz-transform: rotate(360deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(360deg); /* IE 9 */
        -o-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);

        cursor: pointer;
      }
    }

  }

  .link-box {
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: $background-gray;
    width: 120px;
    padding: 0px 20px 0px 10px;
    border-top: 5px solid $about-red-text;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.7);

    a.links {
      color: $about-white-text;
      display: block;
      margin-top: 20px;
      padding: 5px 0px 5px 10px;
      font-size: 28px;
      text-decoration: none;
      border-left: 5px solid $background-gray;
      -webkit-transition: all 0.5s;
         -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
           -o-transition: all 0.5s;
              transition: all 0.5s;

      &:hover {
        border-left: 5px solid $about-red-text;
      }
    }
  }

}

