// variables used across all css

// colors
$background-blue: #4F8CF7;
$background-yellow: #CCCC00;
$text-blue: #1A4DA6;
$text-yellow: #CC9922;

// Screen Sizes
$min-screen-lg: 1200px;
$max-screen-md: 1199px;
$min-screen-md: 992px;
$max-screen-sm: 991px;
$min-screen-sm: 768px;
$max-screen-xs: 767px;
