<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   
    <div class="navbar-header">
      <a href="" class="navbar-brand" id="nav-name">Jonathan C. Chen</a>
    </div>
    
    <div class="navbar-collapse collapse" id="navbar-main">
      
      <ul class="nav navbar-nav">
        <li>
          <a href="" id = "nav-about">About</a>
        </li>
        <li>
          <a href="" id = "nav-fiscalnote">FiscalNote</a>
        </li>
        <li>
          <a href="" id = "nav-maryland">Maryland</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Blog</a></li>
        <li><a href="" id = "nav-contact">Contact</a></li>
      </ul>

    </div>
  </div>
</div>