<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Jonathan C. Chen</a>
    </div>
    
    <div class="navbar-collapse collapse" id="navbar-main">
      
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">About</a>
        </li>
        <li>
          <a href="../help/">FiscalNote</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">UMD</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Blog</a></li>
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Contact</a></li>
      </ul>

    </div>
  </div>
</div>