<!DOCTYPE html>
<html>
  <head>

    <title>Hackbyrd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# Stylesheets %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%# Prevents Cross Site Request Forgery %>
    <%= csrf_meta_tags %>

    <%# Javascript %>
    <%= javascript_include_tag 'application' %>
    <script>new WOW().init();</script>

  </head>

  <body>

    <%# yield main contect %>
    <%= yield %>

  </body>
</html>
